{% extends "base.html" %}

{% block content %}
<div class="content-section col-md-6 m-auto">
    <form action="" method="post" novalidate class="mb-4">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 mt-4">
                <h1>{{title}}</h1>
            </legend>
            <div class="form-group mt-4">
                {{ form.name.label(class="form-control-lable")}}

                <!-- if errors -->
                {% if form.name.errors%}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- root member  start -->
            <legend class="border-bottom mb-4 mt-4">
                <h1>Add Root Member</h1>
            </legend>
            <div class="form-group mt-4">
                {{ memberForm.first_name.label(class="form-control-lable")}}

                <!-- if errors -->
                {% if memberForm.first_name.errors%}
                {{ memberForm.first_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in memberForm.first_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ memberForm.first_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group mt-4">
                {{ memberForm.last_name.label(class="form-control-lable")}}

                <!-- if errors -->
                {% if memberForm.last_name.errors%}
                {{ memberForm.last_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in memberForm.last_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ memberForm.last_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group mt-4">
                {{ memberForm.gender.label(class="form-control-lable")}}

                <!-- if errors -->
                {% if memberForm.gender.errors%}
                {{ memberForm.gender(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in memberForm.gender.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ memberForm.gender(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group mt-4">
                {{ memberForm.birthdate.label(class="form-control-lable")}}

                <!-- if errors -->
                {% if memberForm.birthdate.errors%}
                {{ memberForm.birthdate(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in memberForm.birthdate.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ memberForm.birthdate(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group mt-4 alive">
                {{ memberForm.alive.label(class="form-control-lable")}}

                <!-- if errors -->
                {% if memberForm.alive.errors%}
                {{ memberForm.alive(class="form-control form-control-lg is-invalid d-flex list-unstyled
                justify-content-around") }}
                <div class="invalid-feedback">
                    {% for error in memberForm.alive.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ memberForm.alive(class="form-control form-control-lg d-flex list-unstyled justify-content-around") }}
                {% endif %}
            </div>
            <div class="form-group mt-4 deathdate hide">
                {{ memberForm.deathdate.label(class="form-control-lable")}}

                <!-- if errors -->
                {% if memberForm.deathdate.errors%}
                {{ memberForm.deathdate(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in memberForm.deathdate.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ memberForm.deathdate(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- root member end -->

            <div class="form-group mt-4 mb-2 d-flex justify-content-center">
                {{ form.submit(class="btn btn-lg btn-primary button") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}