{% extends "base.html" %}

{% block content %}
<div class="content-section col-md-6 m-auto">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 mt-4">
                <h1>{{title}}</h1>
            </legend>
            <div class="form-group">
                {{ form.date.label(class="form-control-lable")}}

                <!-- if errors -->
                {% if form.date.errors%}
                {{ form.date(class="form-control form-control-lg is-invalid", value=event.event_date) }}
                <div class="invalid-feedback">
                    {% for error in form.date.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.date(class="form-control form-control-lg", value=event.event_date) }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.name.label(class="form-control-lable")}}

                <!-- if errors -->
                {% if form.name.errors%}
                {{ form.name(class="form-control form-control-lg is-invalid", value = event.event_name) }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg", value = event.event_name) }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.location.label(class="form-control-lable")}}

                <!-- if errors -->
                {% if form.location.errors%}
                {{ form.location(class="form-control form-control-lg is-invalid", value = event.location) }}
                <div class="invalid-feedback">
                    {% for error in form.location.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.location(class="form-control form-control-lg", value = event.location) }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-lable")}}

                <!-- if errors -->
                {% if form.description.errors%}
                {{ form.description(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-lg btn-outline-primary ", value = 'Update Event') }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}