{% extends "base.html" %}

{% block content %}
<div class="events container">
    <div class="upcoming">
        <h2 class="mt-4 text-center">{{upcomingEvents | length}} Upcoming</h2>
        {% if upcomingEvents %}
        <div class="accordion col-md-10 " id="accordionEvent">
            {% for event in upcomingEvents%}
            <div class="card mt-4">
                <div class="card-header event-card-header" id="heading{{event.event_id}}">
                    <div class="event-card-calender">
                        <time>
                            <strong class="bg-primary">
                                {{event.event_date.strftime('%b') }}
                            </strong>
                            <span
                                style="color: rgb(47, 47, 47); font-size: 2.6em; font-weight: bold; letter-spacing: -0.05em; line-height: 0.75em; margin: auto;">
                                {{ event.event_date.strftime('%d') }}
                            </span>
                        </time>
                    </div>
                    <div class="event-card-header-info">
                        <h5 class=" event-title">
                            {{event.event_name}}
                        </h5>
                        <div class="event-card-time-location">
                            <span class="time">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                                            stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M12 6V12" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M16.24 16.24L12 12" stroke="#000000" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                {{ event.event_date.strftime('%I') }}:{{ event.event_date.strftime('%M')
                                }}{{ event.event_date.strftime('%p') }}
                            </span>
                            <span class="location">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z"
                                            stroke="#000000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M12 12C13.1046 12 14 11.1046 14 10C14 8.89543 13.1046 8 12 8C10.8954 8 10 8.89543 10 10C10 11.1046 10.8954 12 12 12Z"
                                            stroke="#000000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                {{ event.location}}
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#collapse{{event.event_id}}" aria-expanded="false"
                        aria-controls="collapse{{event.event_id}}">
                        More...
                    </button>
                </div>

                <div id="collapse{{event.event_id}}" class="collapse" aria-labelledby="heading{{event.event_id}}"
                    data-parent="#accordionPastEvent">
                    <div class="card-body">
                        <h5 class="card-title">Venue: {{event.location}}</h5>
                        <p class="card-text">{{event.description}}</p>
                        <p class="small text-muted">
                            {{event.event_date.strftime('%Y') }}
                            {{event.event_date.strftime('%b') }}
                            {{ event.event_date.strftime('%d') }}
                            ({{ event.event_date.strftime('%A') }})
                            {{ event.event_date.strftime('%I') }}:{{ event.event_date.strftime('%M')
                            }}{{ event.event_date.strftime('%p') }}
                        </p>
                        <p class="small text-muted">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z"
                                        stroke="#000000" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path
                                        d="M12 12C13.1046 12 14 11.1046 14 10C14 8.89543 13.1046 8 12 8C10.8954 8 10 8.89543 10 10C10 11.1046 10.8954 12 12 12Z"
                                        stroke="#000000" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            {{event.location}}
                        </p>
                        {% if current_user.is_authenticated%}
                        <a href="{{url_for('edit_event', event_id=event.event_id)}}" class="btn btn-outline-primary">
                            <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" xml:space="preserve">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <style type="text/css">
                                        .st0 {
                                            fill: none;
                                        }
                                    </style>
                                    <path
                                        d="M5,2v2H4C2.9,4,2,4.9,2,6v11c0,1.1,0.9,2,2,2h6.8c1.8-1.8,0,0,2-2H4V8h12v5.9c1.6-1.6,0.2-0.2,2-2V6c0-1.1-0.9-2-2-2h-1V2 h-2v2H7V2H5z M10,9.2l-0.8,2L7,11.4l1.6,1.4l-0.5,2.1l1.8-1.1l1.8,1.1l-0.5-2.1l1.6-1.4l-2.2-0.2L10,9.2z M20.5,12 c-0.1,0-0.3,0.1-0.4,0.2L19.3,13l2,2l0.8-0.8c0.2-0.2,0.2-0.6,0-0.7l-1.3-1.3C20.8,12,20.6,12,20.5,12z M18.8,13.5L12.3,20v2h2 l6.5-6.5L18.8,13.5">
                                    </path>
                                    <rect class="st0" width="24" height="24"></rect>
                                </g>
                            </svg>
                            Edit
                        </a>
                        <a href="#" class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#deleteModal{{event.event_id}}">
                            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path fill="#000000"
                                        d="M160 256H96a32 32 0 0 1 0-64h256V95.936a32 32 0 0 1 32-32h256a32 32 0 0 1 32 32V192h256a32 32 0 1 1 0 64h-64v672a32 32 0 0 1-32 32H192a32 32 0 0 1-32-32V256zm448-64v-64H416v64h192zM224 896h576V256H224v640zm192-128a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32zm192 0a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32z">
                                    </path>
                                </g>
                            </svg>
                            Delete
                        </a>
                        {% endif %}
                    </div>
                    <!-- modal start -->
                    <div class="modal fade" id="deleteModal{{event.event_id}}" tabindex="-1" role="dialog"
                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete {{event.event_name}} Event</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to DELETE {{event.event_name}} Event ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">No Close</button>
                                    <a href="{{url_for('delete_event', event_id=event.event_id)}}"
                                        class="btn btn-danger">Yes
                                        Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal end -->
                </div>
            </div>
            {% endfor%}
        </div>
        {% else %}
        <div class="text-center">
            <p class="">No Upcoming Events currently</p>
            <a href="{{ url_for('add_event') }}" class="btn btn-outline-primary">
                <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 612.00 612.00" xml:space="preserve">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g>
                            <g>
                                <path
                                    d="M499.641,320.573c-12.207-3.251-25.021-5.011-38.25-5.011c-1.602,0-3.189,0.071-4.781,0.119 c-78.843,2.506-142.118,66.556-143.375,145.709c-0.015,0.799-0.062,1.587-0.062,2.391c0,15.85,2.515,31.102,7.119,45.422 C339.474,568.835,395.381,612,461.391,612c81.859,0,148.219-66.359,148.219-148.219 C609.609,395.151,562.954,337.441,499.641,320.573z M461.391,561.797c-54.133,0-98.016-43.883-98.016-98.016 s43.883-98.016,98.016-98.016s98.016,43.883,98.016,98.016S515.523,561.797,461.391,561.797z">
                                </path>
                                <polygon
                                    points="475.734,396.844 442.266,396.844 442.266,449.438 389.672,449.438 389.672,482.906 442.266,482.906 442.266,535.5 475.734,535.5 475.734,482.906 528.328,482.906 528.328,449.438 475.734,449.438 ">
                                </polygon>
                                <path
                                    d="M126.703,112.359c9.228,0,16.734-7.507,16.734-16.734V54.984v-38.25C143.438,7.507,135.931,0,126.703,0h-14.344 c-9.228,0-16.734,7.507-16.734,16.734v38.25v40.641c0,9.228,7.506,16.734,16.734,16.734H126.703z">
                                </path>
                                <path
                                    d="M389.672,112.359c9.228,0,16.734-7.507,16.734-16.734V54.984v-38.25C406.406,7.507,398.899,0,389.672,0h-14.344 c-9.228,0-16.734,7.507-16.734,16.734v38.25v40.641c0,9.228,7.507,16.734,16.734,16.734H389.672z">
                                </path>
                                <path
                                    d="M274.922,494.859c-2.333-11.6-3.572-23.586-3.572-35.859c0-4.021,0.177-7.999,0.435-11.953H74.109 c-15.845,0-28.688-12.843-28.688-28.688v-229.5h411.188v88.707c3.165-0.163,6.354-0.253,9.562-0.253 c11.437,0,22.61,1.109,33.469,3.141V93.234c0-21.124-17.126-38.25-38.25-38.25h-31.078v40.641c0,22.41-18.23,40.641-40.641,40.641 h-14.344c-22.41,0-40.641-18.231-40.641-40.641V54.984H167.344v40.641c0,22.41-18.231,40.641-40.641,40.641h-14.344 c-22.41,0-40.641-18.231-40.641-40.641V54.984H40.641c-21.124,0-38.25,17.126-38.25,38.25v363.375 c0,21.124,17.126,38.25,38.25,38.25H274.922z">
                                </path>
                                <circle cx="137.165" cy="260.578" r="37.954"></circle>
                                <circle cx="251.016" cy="260.578" r="37.954"></circle>
                                <circle cx="364.867" cy="260.578" r="37.954"></circle>
                                <circle cx="251.016" cy="375.328" r="37.953"></circle>
                                <circle cx="137.165" cy="375.328" r="37.953"></circle>
                            </g>
                        </g>
                    </g>
                </svg>
                Add Event
            </a>
        </div>
        {% endif%}
    </div>
    <div class="past">
        <h2 class="mt-4 text-center">{{pastEvents | length}} Past</h2>

        <!-- collapse -->
        {% if pastEvents %}
        <div class="accordion col-md-10" id="accordionPastEvent">
            {% for event in pastEvents%}
            <div class="card mt-4">
                <div class="card-header event-card-header" id="heading{{event.event_id}}">
                    <div class="event-card-calender">
                        <time>
                            <strong class="bg-primary">
                                {{event.event_date.strftime('%b') }}
                            </strong>
                            <span
                                style="color: rgb(47, 47, 47); font-size: 2.6em; font-weight: bold; letter-spacing: -0.05em; line-height: 0.75em; margin: auto;">
                                {{ event.event_date.strftime('%d') }}
                            </span>
                        </time>
                    </div>
                    <div class="event-card-header-info">
                        <h5 class="mb-0 event-title">
                            {{event.event_name}}
                        </h5>
                        <div class="event-card-time-location">
                            <span class="time">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z"
                                            stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M12 6V12" stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path d="M16.24 16.24L12 12" stroke="#000000" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                {{ event.event_date.strftime('%I') }}:{{ event.event_date.strftime('%M')
                                }}{{ event.event_date.strftime('%p') }}
                            </span>
                            <span class="location">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z"
                                            stroke="#000000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                        <path
                                            d="M12 12C13.1046 12 14 11.1046 14 10C14 8.89543 13.1046 8 12 8C10.8954 8 10 8.89543 10 10C10 11.1046 10.8954 12 12 12Z"
                                            stroke="#000000" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                                {{ event.location}}
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#collapse{{event.event_id}}" aria-expanded="false"
                        aria-controls="collapse{{event.event_id}}">
                        More...
                    </button>
                </div>

                <div id="collapse{{event.event_id}}" class="collapse" aria-labelledby="heading{{event.event_id}}"
                    data-parent="#accordionPastEvent">
                    <div class="card-body">
                        <h5 class="card-title">Venue: {{event.location}}</h5>
                        <p class="card-text">{{event.description}}</p>
                        <p class="small text-muted">
                            {{event.event_date.strftime('%Y') }}
                            {{event.event_date.strftime('%b') }}
                            {{ event.event_date.strftime('%d') }}
                            ({{ event.event_date.strftime('%A') }})
                            {{ event.event_date.strftime('%I') }}:{{ event.event_date.strftime('%M')
                            }}{{ event.event_date.strftime('%p') }}
                        </p>
                        <p class="small text-muted">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z"
                                        stroke="#000000" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path
                                        d="M12 12C13.1046 12 14 11.1046 14 10C14 8.89543 13.1046 8 12 8C10.8954 8 10 8.89543 10 10C10 11.1046 10.8954 12 12 12Z"
                                        stroke="#000000" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            {{event.location}}
                        </p>
                        {% if current_user.is_authenticated%}
                        <a href="{{url_for('edit_event', event_id=event.event_id)}}" class="btn btn-outline-primary">
                            <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" xml:space="preserve">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <style type="text/css">
                                        .st0 {
                                            fill: none;
                                        }
                                    </style>
                                    <path
                                        d="M5,2v2H4C2.9,4,2,4.9,2,6v11c0,1.1,0.9,2,2,2h6.8c1.8-1.8,0,0,2-2H4V8h12v5.9c1.6-1.6,0.2-0.2,2-2V6c0-1.1-0.9-2-2-2h-1V2 h-2v2H7V2H5z M10,9.2l-0.8,2L7,11.4l1.6,1.4l-0.5,2.1l1.8-1.1l1.8,1.1l-0.5-2.1l1.6-1.4l-2.2-0.2L10,9.2z M20.5,12 c-0.1,0-0.3,0.1-0.4,0.2L19.3,13l2,2l0.8-0.8c0.2-0.2,0.2-0.6,0-0.7l-1.3-1.3C20.8,12,20.6,12,20.5,12z M18.8,13.5L12.3,20v2h2 l6.5-6.5L18.8,13.5">
                                    </path>
                                    <rect class="st0" width="24" height="24"></rect>
                                </g>
                            </svg>
                            Edit
                        </a>
                        <a href="#" class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#deleteModal{{event.event_id}}">
                            <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path fill="#000000"
                                        d="M160 256H96a32 32 0 0 1 0-64h256V95.936a32 32 0 0 1 32-32h256a32 32 0 0 1 32 32V192h256a32 32 0 1 1 0 64h-64v672a32 32 0 0 1-32 32H192a32 32 0 0 1-32-32V256zm448-64v-64H416v64h192zM224 896h576V256H224v640zm192-128a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32zm192 0a32 32 0 0 1-32-32V416a32 32 0 0 1 64 0v320a32 32 0 0 1-32 32z">
                                    </path>
                                </g>
                            </svg>
                            Delete
                        </a>
                        {% endif %}
                    </div>
                    <!-- modal start -->
                    <div class="modal fade" id="deleteModal{{event.event_id}}" tabindex="-1" role="dialog"
                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete {{event.event_name}} Event</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to DELETE {{event.event_name}} Event ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">No Close</button>
                                    <a href="{{url_for('delete_event', event_id=event.event_id)}}"
                                        class="btn btn-danger">Yes
                                        Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal end -->
                </div>
            </div>
            {% endfor%}
        </div>
        {% else %}
        <p class="text-center">No Past Events currently</p>
        {% endif%}
        <!-- collapse end -->
    </div>
</div>
{% endblock %}