{% extends "base.html" %}

{% block content %}
<section class="center-section">
    <div class="content-section container col-md-4 mt-auto mb-auto">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-4">
                    <h1>{{title}}</h1>
                </legend>
                <div class="form-group mt-4">
                    {{ form.email.label(class="form-control-lable")}}

                    <!-- if errors -->
                    {% if form.email.errors%}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mt-4">
                    {{ form.password.label(class="form-control-lable")}}

                    <!-- if errors -->
                    {% if form.password.errors%}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mt-4">
                    {{ form.remember_me(class='form-check-input') }} {{
                    form.remember_me.label(class='form-check-label')}}
                </div>
                <br>
                <div class="form-group mt-2 mb-3 d-flex justify-content-center">
                    {{ form.submit(class="btn btn-lg btn-primary button") }}
                </div>
            </fieldset>
        </form>
        <p>
            Forgot Your Password?
            <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
        </p>
        <div class="border-top ">
            <p>
                New User? <a class="ml-2" href="{{url_for('register')}}"> Register</a>
            </p>
        </div>
    </div>
</section>
{% endblock %}