{% extends 'base.html' %}

{% block content %}

<section class="vh-100">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-7 mb-4 mb-lg-0">
                <div class="card" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="col-md-12 gradient-custom text-center"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg"
                                    alt="Avatar" class="img-fluid my-1" style="width: 80px; " />
                                <h5 class="fw-bold">{{ member.first_name}} {{ member.last_name}}</h5>
                                {% if member.root%}
                                <p class="text-muted">(Root)</p>
                                {% endif %}
                            </div>
                            <div class="card-body  text-center">
                                <div class="row">
                                    <div class="col-4">
                                        <h6>Gender
                                        </h6>
                                        <p class="text-muted">{{member.gender}}</p>
                                    </div>
                                    <div class="col-4 mb-3">
                                        <h6>Birth Date</h6>
                                        <p class="text-muted">{{member.birthdate}}</p>
                                    </div>
                                    {% if not member.alive %}
                                    <div class="col-4 mb-3">
                                        <h6>Death Date</h6>
                                        <p class="text-muted">{{member.deathdate}}</p>
                                    </div>
                                    {% endif %}
                                    {% if member.mother %}
                                    {% for family_member in family_members %}
                                    {% if family_member.member_id == member.mother %}
                                    <div class="col-4 mb-3">
                                        <h6>Mother</h6>
                                        <p class="text-muted">
                                            {{family_member.first_name}} {{family_member.last_name}}
                                        </p>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}

                                    {% if member.father %}
                                    {% for family_member in family_members %}
                                    {% if family_member.member_id == member.father %}
                                    <div class="col-4 mb-3">
                                        <h6>Father</h6>
                                        <p class="text-muted">
                                            {{family_member.first_name}} {{family_member.last_name}}
                                        </p>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}

                                    {% if siblings%}
                                    <div class="col-6 mb-3">
                                        <h6>{{siblings | length}} sibling</h6>
                                        <details>
                                            <summary>
                                                view
                                            </summary>
                                            {% for sibling in siblings %}
                                            <p class="text-muted">
                                                {{sibling.first_name}} {{sibling.last_name}} |
                                                <a href="{{url_for('member_profile',
                                                    member_id=sibling.member_id)}}">More..</a>
                                            </p>
                                            {% endfor %}
                                        </details>
                                    </div>
                                    {% endif %}
                                    {% if spouses%}
                                    <div class="col-6 mb-3">
                                        <h6>{{ spouses | length}} spouse</h6>
                                        <details>
                                            <summary>
                                                view
                                            </summary>
                                            {% for spouse in spouses %}
                                            <p class="text-muted">
                                                {{spouse.first_name}} {{spouse.last_name}}
                                                |
                                                <a href="{{url_for('member_profile',
                                                    member_id=spouse.member_id)}}">More..</a>
                                            </p>
                                            {% endfor %}
                                        </details>
                                    </div>
                                    {% endif %}
                                    {% if children%}
                                    <div class="col-6 mb-3">
                                        <h6>{{children | length}} children</h6>
                                        <details>
                                            <summary>
                                                view
                                            </summary>
                                            {% for child in children %}
                                            <p class="text-muted">
                                                {{child.first_name}} {{child.last_name}} |
                                                <a
                                                    href="{{url_for('member_profile', member_id=child.member_id)}}">More...</a>
                                            </p>
                                            {% endfor %}
                                        </details>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="row pt-1">

                                </div>
                                {% if current_user.is_authenticated%}
                                <hr class="mt-0 mb-4">
                                <div class="d-flex justify-content-center">
                                    <a href="{{url_for('update_member', member_id=member.member_id)}}">update
                                        {{member.first_name}}
                                        details</a>
                                </div>
                                <a href="#" class="link-danger" data-toggle="modal"
                                    data-target="#deleteModal{{member.member_id}}">Delete {{member.first_name}}</a>
                                <!-- modal start -->
                                <div class="modal fade" id="deleteModal{{member.member_id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Delete
                                                    {{member.first_name}}</h5>
                                                <button type="button" class="btn-close" data-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to DELETE {{member.first_name}} ?
                                                </p>
                                                <p>All members Under {{member.first_name}} will also be DELETED</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">No
                                                    Close</button>
                                                <a href="{{url_for('delete_member', member_id=member.member_id)}}"
                                                    class="btn btn-danger">Yes Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- modal end -->
                                {% endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}