{% extends "base.html" %}

{% block content %}
<section class="center-section">
    <div class="content-section  container col-md-4 mt-auto mb-auto">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-4">
                    <h1>{{title}}</h1>
                </legend>
                <div class="form-group mt-4">
                    {{ form.name.label(class="form-control-lable")}}
                    <!-- if errors -->
                    {% if form.name.errors%}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
                <div class="form-group mt-4">
                    {{ form.email.label(class="form-control-lable")}}

                    <!-- if errors -->
                    {% if form.email.errors%}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mt-4">
                    {{ form.password.label(class="form-control-lable")}}

                    <!-- if errors -->
                    {% if form.password.errors%}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mt-4">
                    {{ form.confirm_password.label(class="form-control-lable")}}
                    <!-- if errors -->
                    {% if form.confirm_password.errors%}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group  mb-2 d-flex justify-content-center">
                    {{ form.submit(class="btn btn-lg btn-primary button") }}
                </div>
            </fieldset>
        </form>
        <div class=" border-top mb-4 text-center">
            <small class="text-muted ">
                Already Have An Account? <a class="ml-2" href="{{url_for('login')}}">Login</a>
            </small>
        </div>
    </div>
</section>
{% endblock %}