{% extends "base.html" %}

{% block content %}
<section class="center-section">
    <div class="content-section container col-md-4 mt-4">
        <legend class="mb-4">
            <h1>{{title}}</h1>
        </legend>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group mt-4">
                {{ form.email.label(class="form-control-lable")}}

                <!-- if errors -->
                {% if form.email.errors%}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group mt-4 mb-3 d-flex justify-content-center">
                {{ form.submit(class="btn btn-primary button") }}
            </div>
        </form>
    </div>
</section>
{% endblock %}